


<mat-spinner *ngIf="loading"></mat-spinner>

<div class="title">
    <h1>Lista completa intrebari</h1>
    <h2>Raspunsul corect este hasurat cu verde</h2>
</div>

<div class="questionsWrapper">
    <ng-container *ngFor="let question of questions$ | async; let i = index">
    <!-- <ng-container *ngFor="let question of questions2; let i = index"> -->
        <app-questions-list-element
            [listMode]="true"
            [info]="question"
            [index]="i"
            class="questionElement">
        </app-questions-list-element>
        <p class="divider">- &nbsp;  - &nbsp;  - &nbsp;  {{i+1}}  &nbsp; - &nbsp;  -  &nbsp; -</p>
    </ng-container>
</div>





<!-- <app-questions-list-element></app-questions-list-element> -->



