
<div *ngIf="!inProgress && !examFinished" class="startBtnWrapper">
    <button class="startBtn" mat-raised-button (click)="startExam()">START</button>
</div>


<div class="examWrapper" *ngIf="inProgress">

    <div class="examHeader">
        <div class="headerElem">
            <span>{{ totalQuestions }}</span>
            <h4>Întrebări iniţiale</h4>
        </div>

        <div class="headerElem">
            <span>{{ questionIndexes.length }}</span>
            <h4>Întrebări rămase</h4>
        </div>

        <div class="timer">
            <h2>{{ counter | formatTime }}</h2>
        </div>

        <div class="headerElem">
            <span [class.green]="correctAnswers > 0">{{ correctAnswers }}</span>
            <h4>Răspunsuri corecte</h4>
        </div>

        <div class="headerElem">
            <span [class.red]="wrongAnswers > 0">{{ wrongAnswers }}</span>
            <h4>Răspunsuri greşite</h4>
        </div>
    </div>

    <ng-container *ngFor="let question of questions; let i = index">
        <app-questions-list-element
            *ngIf="matchQuestionIndex(i)"
            [listMode]="false"
            (selectedAnswerEvent)="getUserAnswer($event)"
            [info]="question"
            [index]="i"
            class="questionElement">
        </app-questions-list-element>
    </ng-container>
    
    <div class="examFooter">
        <button 
            class="skipBtn"
            mat-raised-button
            (click)="skipAnswer()"
            [disabled]="isAnswerSelected">
            <mat-icon>cached</mat-icon>
            Răspunde mai târziu
        </button>

        <button
            mat-raised-button
            class="cancelBtn"
            (click)="triggerCancelAnswer()">
            <mat-icon>remove_circle</mat-icon>
            Șterge răspuns
        </button>

        <button
            mat-raised-button
            class="sendBtn"
            (click)="sendAnswer()"
            [disabled]="!isAnswerSelected">
            <mat-icon>check_circle_outline</mat-icon>
            Trimite răspuns
        </button>
    </div>
</div>

<div *ngIf="!inProgress && examFinished" class="startBtnWrapper">
    <app-exam-result
        [points]="correctAnswers">
    </app-exam-result>
</div>


