
.mainWrapper {
    height: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 350px;
}

.mainWrapper h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.mainWrapper p {
    font-size: 15px;
    font-weight: 400;
}

.green {
    color: rgb(59, 186, 87);
}

.yellow {
    color: rgb(239, 171, 61);
}

.red {
    color: rgb(224, 73, 83);
}

.stats {
    display: flex;
}

.stats h3 {
    margin: 0;
    padding-left: 30px;
    font-size: 45px;
}

.stats h4 {
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    color: rgb(35, 122, 201);
}