
<div class="userListMainContainer">    
    <mat-spinner *ngIf="loading"></mat-spinner>

    <div class="formContainer">
        <app-add-edit-user-form></app-add-edit-user-form>
    </div>

    <div class="actionBtns">
        <button
            (click)="onSubmit()"
            disabled="{{ isFormChanged }}"
            mat-raised-button
            type="button"
            class="submitBtn">
            Salvează
        </button>
            
        <button
            (click)="onCancel()"
            mat-raised-button
            type="button"
            class="cancelBtn">
            Anulează
        </button>
    </div>

</div>


