.header {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoWrapper {
    width: 40%;
}

.logo {
    width: 180px;
}

.headerOptions {
    display: flex;
    align-items: center;
}

.name {
    color: rgb(35, 122, 201);
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    /* width: 200px; */
}

.name h4 {
    font-weight: 500;
    font-size: large;
    margin: 0;
    cursor: pointer;
}

.userIcon {
    color: rgb(35, 122, 201);
    cursor: pointer;
    padding-right: 5px;
    margin-left: 10px;
}

.mainStatsWrapper {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.statsWrapper h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: large;
    
}

.statsWrapper span {
    font-weight: 500;
    font-size: x-large;
    color: rgb(35, 122, 201);
}

