
.addNewUserMainContainer {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    color: white;
    background-color: rgb(35, 122, 201);
    margin-left: 10px;
}

.cancelBtn {
    color: white;
    background-color: rgb(224, 73, 83);
    margin-left: 10px;
}

.actionBtns {
    width: 210px;
    margin: auto;
}

.formContainer {
    width: 700px;
    margin: auto;
    padding-top: 50px;
}

.title {
    color: rgb(35, 122, 201);
    margin: auto;
    padding-top: 50px;
}

h1 {
    font-size: xx-large;
    font-weight: 500;
}