<div class="addNewUserMainContainer">
    <div class="title">
        <h1>Formular înregistrare</h1>
    </div>

    <div class="formContainer">
        <app-add-edit-user-form></app-add-edit-user-form>
    </div>

    <div class="actionBtns">
        <button
            mat-raised-button
            type="button"
            class="submitBtn"
            disabled="{{ isFormChanged }}"
            (click)="onSubmit()">
            Salvează
        </button>

        <button
            mat-raised-button
            type="button"
            class="cancelBtn"
            (click)="onCancel()">
            Anulează
        </button>
    </div>
</div>
