.main-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

mat-spinner {
    margin-top: 15rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    width: 365px;
}

.logo-container {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img{
    width: 220px;
    margin: 10px 20px 10px 0;
    border-radius: 15px;
}

.logo-text {
    margin-top: 10px;
}

.logo-text h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.sign-in-btn {
    background-color: rgb(35, 122, 201);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 700;
    font-size: x-large;
    width: 345px;
    height: 60px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
}

.eye-icon-btn {
    box-shadow: none;
}

.sign-in-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}

.error-container {
    margin-top: 30px;
    width: 345px;
    height: 25px;
}

.login-error {
    color: rgb(224, 73, 83);
    float: right;
}

.login-error h4 {
    font-size: 20px;
    font-weight: 400;
}

.registerBtn{
    margin-top: 20px;
    background-color: rgb(35, 122, 201);
    color: white;
    font-weight: 700;
    font-size: x-large;
    width: 345px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
}

mat-label {
    font-size: 20px;
}

