<!-- <div class="language">

</div> -->

<div class="main-login-container">
    <div *ngIf="loadingStage">
        <mat-spinner></mat-spinner>
    </div>

    <div class="login-container"> 
        <div class="logo-container">
            <div class="logo">
                <img src="../../../../../assets/images/logo final.jpg" alt="logo Directia Permise Auto">
            </div>
            <div class="logo-text">
                <h3>Directia</h3>
                <h3>Permise</h3>
                <h3>Auto</h3>
            </div>
        </div>
        <mat-form-field appearance="outline" class="form-field" [style.width.px]="335">
            <mat-label>Utilizator</mat-label>
            <input matInput>
            <!-- <input matInput formControlName="username"> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field" [style.width.px]="335">
            <mat-label>Parola</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button
                (click)="hide = !hide"
                class="eye-icon-btn"
                [attr.aria-label]="'Ascunde Parola'"
                [attr.aria-pressed]="hide"
                mat-icon-button
                matSuffix>
                <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>    
            </button>
        </mat-form-field>

        <button type="submit" class="sign-in-btn">Autentificare</button>

        <div class="error-container">
            <div class="login-error" *ngIf="loginError === true">
                <h4>Utilizator sau parola gresite !</h4>
            </div>
        </div>

    </div>

</div>
