
<div class="main-login-container">
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="login-container" [formGroup]="loginForm" *ngIf="!loading"> 
        <div class="logo-container">
            <div class="logo">
                <img src="../../../../../assets/images/logo final.jpg" alt="logo Directia Permise Auto">
            </div>
            <div class="logo-text">
                <h2>Directia</h2>
                <h2>Permise</h2>
                <h2>Auto</h2>
            </div>
        </div>
        <mat-form-field appearance="outline" class="form-field" [style.width.px]="345">
            <mat-label>Utilizator</mat-label>
            <input 
                matInput 
                formControlName="username"
                class="loginInput">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field" [style.width.px]="345">
            <mat-label>Parola</mat-label>
            <input 
                matInput 
                formControlName="password" 
                [type]="hide ? 'password' : 'text'"
                class="loginInput">
            <button
                (click)="hide = !hide"
                class="eye-icon-btn"
                [attr.aria-label]="'Ascunde Parola'"
                [attr.aria-pressed]="hide"
                mat-icon-button
                matSuffix>
                <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>    
            </button>
        </mat-form-field>

        <button 
            type="submit" 
            class="sign-in-btn" 
            (click)="loginUser()">
                Autentificare
        </button>
        
        <button 
            class="registerBtn"
            mat-raised-button
            (click)="addNewUser()"
            type="button">
            Inregistrare
        </button>
        <div class="error-container">
            <div class="login-error" *ngIf="error === true">
                <h4>Utilizator sau parola gresite !</h4>
            </div>
        </div>

    </div>

</div>
